div {
    border: 1px solid var(--grid-color);
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div:hover {
    background-color: var(--hover-color);
}

p {
    font-size: 32px;
    font-weight: bold;
}

.player-x {
    color: var(--player-x-color);
}

.player-o {
    color: var(--player-o-color);
}